.menu_lateral {
    grid-column: 1/2;
    grid-row: 2/4;

    width: 40rem;
    height: 40rem;
    margin: 0px 20rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cuadros {
    width: 20rem;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menus {
    width: 10rem;
    height: 4rem;
    border-radius: 18px;
    font-size: 1.3rem;
    background-color: rgb(192, 113, 113);
    margin: 3rem auto;


    display: flex;
    align-items: center;
    justify-content: center;
}