.footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: dimgrey;
    border: 1px solid black;
    border-radius: 10px;
}

div {
    width: 75rem;
    height: 15rem;
}

.img img{
    width: 200px;
    height: 140px;

}

