body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    width: 1500px;
}

.footer-content {
width:  800px;
    margin: auto;
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.9rem;
}

.footer-menu {
    margin-top: 10px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    margin: 0 10px;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}
