.footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: dimgrey;
    border: 1px solid black;
    border-radius: 10px;
}

.r4 {
    width: 75rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
}

.imgx {
    width: 210px;
    height: 150px;

}

.mt3 {
    width: 80px;
    height: 70px;
    margin-top: 30px;
    margin-left: 70px;
    display: flex;
}

.a1 {
    margin-top: 50px;
    margin-left: 70px;
}

.r3 {
    display: flex;
}

.m1 {
    font-size: 17px;
}

.m3 {
    font-size: 17px;
}
